@{
    ViewData["Title"] = "Kontakt";
}
<br /><br />
<h2>@ViewData["Title"]</h2>
<br />
<address>
    Andrea Manth<br />
    Patentgatan 5<br />
    11267 Stockholm<br /><br />
    Mobil: +46 70 4297011
    
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Andrea@Manth.se">Andrea@Manth.se</a><br />
</address>
