@model Bloodpressure_UI.Models.Bloodpressure

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Neuer Eintrag!</h2>

<h4>Bloodpressure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonId" class="control-label"></label>
                <input asp-for="PersonId" class="form-control" />
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Systolic" class="control-label"></label>
                <input asp-for="Systolic" class="form-control" />
                <span asp-validation-for="Systolic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diastolic" class="control-label"></label>
                <input asp-for="Diastolic" class="form-control" />
                <span asp-validation-for="Diastolic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heartrate" class="control-label"></label>
                <input asp-for="Heartrate" class="form-control" />
                <span asp-validation-for="Heartrate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
